fastapi==0.135.3
uvicorn[standard]==0.43.0
gunicorn==25.3.0
python-docx==1.2.0
pydantic==2.12.5
python-multipart==0.0.22
reportlab==4.4.10
python-pptx==1.0.2
boto3==1.42.83
pymongo==4.16.0
python-dotenv==1.2.2
beautifulsoup4==4.14.3
lxml==6.0.2
tinycss2==1.5.1
cssselect==1.4.0
